POLYGON_RPC_URL=https://polygon-rpc.com
CONTRACT_ADDRESS=0x0000000000000000000000000000000000000000
RATE_LIMIT_PER_MINUTE=60
MOCK_RECORDS_JSON=
ALLOW_PUBLIC_RESOLVER=true
ADMIN_API_TOKEN=
BILLING_WEBHOOK_URL=
BILLING_WEBHOOK_AUTH=
